.font-1-300 {
    font: 300 1rem "Roboto Slab", sans-serif;
}

.font-1-400 {
    font: 400 1.1rem "Roboto Slab", sans-serif;
}

.font-1-400-s {
    font: 400 0.9rem "Roboto Slab", sans-serif;

}

.font-2-400 {
    font: 400 3.5rem "Parisienne", sans-serif;
}