.conteudo::after{
    content: "";
    display: block;
    width: 100px;
    height: 98px;
    top: 0;
    left: 0;
    background-image: url("../img/conteudo-flores-e.png");
    position: absolute;
}

.conteudo::before{
    content: "";
    display: block;
    width: 98px;
    height: 100px;
    top: 0;
    right: 0;
    background-image: url("../img/conteudo-flores-d.png");
    position: absolute;
}

.conteudo {
    position: relative;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.local-cerimonia{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #434A34;
  
}
.local-cerimonia h2{
    padding-bottom: 20px;
    text-transform: uppercase;
}

.local-cerimonia a{
    padding-top: 5px;
    color: #A37052;
   
}

#logo{
    padding-top: 40px;
    padding-bottom: 20px;
}

#presenca{
    padding-top: 50px;
    
}