.conteudo::after{
    content: "";
    display: block;
    width: 100px;
    height: 98px;
    top: 0;
    left: 0;
    background-image: url("../img/conteudo-flores-e.png");
    position: absolute;
}

.conteudo::before{
    content: "";
    display: block;
    width: 98px;
    height: 100px;
    top: 0;
    right: 0;
    background-image: url("../img/conteudo-flores-d.png");
    position: absolute;
}

.conteudo {
    position: relative;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


